@import url('https://fonts.googleapis.com/css2?family=Georama:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Georama:wght@400;700&family=Montserrat:wght@300&display=swap');

header{
    background-color: black;
    color: white;
    height: 70px;
    font-family: 'Georama', sans-serif;
    font-weight: bolder;
    font-size: 40px;
    text-align: initial;
    padding-top: 15px;
    padding-left: 15px;
}
#nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: Georama;
    margin-top: 20px;

}
.button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    align-self: end;
    border-radius: 14px;
}
#getMoney{
    background-color: #FFFF99; /* Yellow */
    color: black;
}
#buy{
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 20px;

}
#transfer{
    background-color: #87CEFA; /* Blue */
    color: white;

}
#getLoan{
    background-color: #4CAF50; /* Green */
    color: white;

}
#payLoan{
    background-color: #D4AF37;
    color: black;
}
#bank{
    background-color: whitesmoke;
    width: 25%;
    border: 10px solid #484848;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 15px 15px #888888;
}
#bankMenu{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;

}
#bankBalanceMenu{

}
#loanMenu{


}
#work{
    background-color: whitesmoke;
    width: 25%;
    border: 10px solid #484848;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 15px 15px #888888;}
#workBalance{
    text-align: center;
}
#chooseLaptop{
    align-items: flex-end;
    list-style-type: none;
    background-color: whitesmoke;
    width: 25%;
    border: 10px solid #484848;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 15px 15px #888888;
}
#laptopBanner{
    display: flex;
    flex-direction: row;
    font-family: Georama;
    justify-content: space-evenly;
    background-color: white;
    border: 15px solid mediumpurple;
    border-radius: 10px;
    margin: 5% auto;
    box-shadow: 20px 20px 20px purple;
    width: 80%;
    height: 100%;

}
.bannerElement{
width: 25%;
height: 200%;
text-align: center;
}
#imgFrame{
    width: 100%;
    height: 100%;
    position: relative;

}
#laptopImg{
    padding: 10%;
    width: 100%;
    height: 100%;
    float: left;
    background-color: white;
}

#laptopTitle{
    font-weight: bold;
    font-size: 30px;
}

#laptopPrice{
    padding-top: 20%;
    font-size: 20px;
}

#laptopDescription{
    font-size: 20px;
    font-style: italic;
}

#titleAndDesc{
    align-self: center;
}

